{% if currencies|length > 1 %}
  <form id="form-currency" action="{{ action }}" method="post" data-oc-toggle="ajax">
    <div class="dropdown">
      <a href="#" data-bs-toggle="dropdown" class="dropdown-toggle nav-link">
        {% if symbol_left %}<strong>{{ symbol_left }}</strong>{% elseif symbol_right %}<strong>{{ symbol_right }}</strong>{% endif %}
        <span class="d-none d-md-inline">{{ text_currency }}</span>
        <i class="fa-solid fa-caret-down ms-1"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-end shadow">
        {% for currency in currencies %}
          <li>
            <a href="{{ currency.code }}" class="dropdown-item">
              {% if currency.symbol_left %}{{ currency.symbol_left }}{% else %}{{ currency.symbol_right }}{% endif %}
              {{ currency.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <input type="hidden" name="code" value=""/>
    <input type="hidden" name="redirect" value="{{ redirect }}"/>
  </form>
{% endif %}
