{{ header }}
<div id="common-home" class="container">
  <div class="row">{{ column_left }}
    <div id="content" class="col">
      {{ content_top }}

      {# Incentives Section - What we offer #}
      <div class="container my-5">
        {% include 'common/incentives/incentive_cols.twig' %}
      </div>

      {{ content_bottom }}
    </div>
    {{ column_right }}</div>
</div>
{{ footer }}