{{ header }}
<div id="information-information" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    <div id="content" class="col">{{ content_top }}
      <div class="card border-0 shadow-sm">
        <div class="card-body p-4 p-md-5">
          <h1 class="display-5 fw-bold mb-4">{{ heading_title }}</h1>
          <div class="article-content" style="font-size: 1.0625rem; line-height: 1.75;">
            {{ description }}
          </div>
        </div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}